---
layout: default
title: Home | Joshua Minnie
---
<div class="row">
  <div class="span12">
    {% for post in paginator.posts %}
    <article class="post">
      <div class="post-content">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p><small>by {{ post.post_author }} on {{ post.date | date: "%m-%d-%Y" }}</small></p>
        <p>{{ post.content | strip_html | truncatewords:128}}</p>
      </div>
    </article>
    {% endfor %}

    {% include pagination.html %}
  </div>
</div>
