<footer class="footer">
  <div class="container">
    <a class="footer-brand" href="{{site.url}}">Joshua Minnie</a>

    <ul class="pull-center">
      <li>
        <a href="{{site.url}}">Home</a>
      </li>
      <li>
        <a href="{{site.url}}/about/">About</a>
      </li>
    </ul>

    <ul class="social-buttons pull-right">
      <li>
        <a href="https://twitter.com/{{site.author.twitter}}" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{site.author.facebook}}" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/{{site.author.instagram}}" target="_blank" class="btn btn-just-icon btn-instagram btn-simple">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>

    <div class="row">
      <div class="col-xs-6">
        <small>&copy; 2017 Joshua Minnie. All rights reserved.</small>
      </div>
      <div class="col-xs-6">
        <small>Proudly hosted using <a href="https://pages.github.com">GitHub Pages</a></small>
      </div>
    </div>
  </div>
</footer>
