<!-- Pagination  -->
<div class="row">
  <div class="span12">
    <div class="pagination pagination-centered">
      <ul>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li><a href="/" class="previous">&laquo;</a></li>
        {% else %}
        <li><a href="/page{{ paginator.previous_page }}" class="previous">&laquo;</a></li>
        {% endif %}
      {% else %}
        <li class="disabled"><span class="previous">&laquo;</span></li>
      {% endif %}
        {% for i in (1..paginator.total_pages) %}
          {% if paginator.page == i %}
            {% if paginator.page == 1 %}
              <li class="active"><a href="/">{{ i }}</a></li>
            {% else %}
              <li class="active"><a href="/page{{ i }}">{{ i }}</a></li>
            {% endif %}
          {% else %}
            {% if i == 1 %}
              <li><a href="/">{{ i }}</a></li>
            {% else %}
              <li><a href="/page{{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% if paginator.next_page %}
        <li><a href="/page{{ paginator.next_page }}" class="next">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span class="next">&raquo;</span></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
