<!-- Pagination  -->
<div class="row">
  <div class="col-12 col-lg-12">
    <div class="aligncenter clearfix">
      <ul class="pager">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li class="previous"><a href="/" class="previous">&laquo; Previous</a></li>
        {% else %}
        <li class="previous"><a href="/page{{ paginator.previous_page }}" class="previous">&laquo; Previous</a></li>
        {% endif %}
      {% else %}
        <li class="previous disabled"><span class="previous">&laquo; Previous</span></li>
      {% endif %}

      {% if paginator.next_page %}
        <li class="next"><a href="/page{{ paginator.next_page }}" class="next">Next &raquo;</a></li>
      {% else %}
        <li class="next disabled"><span class="next">Next &raquo;</span></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>
