---
layout: default
comments: true
---
{% assign author = site.authors[page.author] %}

<div class="row">
  <div class="col-12 col-lg-12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <!-- <li><a href="/categories/{{ page.categories }}">{{ page.categories | first | capitalize  }}</a> <span class="divider">/</span></li> -->
      <li class="active">{{ page.title }}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12">
    <article class="post">
      <div class="post-content">
        <h1>{{ page.title }}</h1>
        <p class="text-muted"><small>Written by {{ author.display_name }} on {{ page.date | date: "%m-%d-%Y" }}</small></p>
        {{ content }}
      </div>
    </article>

    {% if page.comments %}
    <section class="post-comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'joshuaminniesblog'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
    {% endif %}
  </div>
</div>
