---
layout: default
---
<div class="row-fluid">
  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="/">Home</a> <span class="divider">/</span></li>
      <!-- <li><a href="/categories/{{ page.categories }}">{{ page.categories | first | capitalize  }}</a> <span class="divider">/</span></li> -->
      <li class="active">{{ page.title }}</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <article class="post">
      <div class="post-content">
        <h1>{{ page.title }}</h1>
        <p><small>by {{ page.post_author }} on {{ page.date | date: "%m-%d-%Y" }}</small></p>
        {{ content }}
      </div>
    </article>
  </div>
</div>
